# gitignore #

# Compiled source #
###################
*.class
*.dll
*.exe

# IntelliJ files #
##################
*.iml
*.idea
*.ipr
*.iws
atlassian-ide-plugin.xml

# Subversion files #
*.svn

# Vault files #
###############
*.vlt

*.git

# Miscellaneous files #
#######################
.DS_Store*
*.log
nb*.xml
*.project
target
Thumbs.db
*.settings
*.classpath
libs
/libs
/libs*
/libs/*
